@{
    ViewBag.Title = "Home";
}
<div style="margin-top: 5%">
    <img class="pull-left" style="padding: 10px; margin-right: 5%" src="@Url.Content("~/Images/PQ Mark Logo 400.png")" />

    <div>
        <p class="lead">PQ Mark represents a new way for EPRI to create benchmarks of power quality.  Rather than the current batch process where data is collected about every 5 years, the vision of PQ Mark is to install software agents at participating utilities which would transfer PQ data from time-to-time to EPRI from several utility designated locations.  These data transfers could be periodic and automatic (such as daily, weekly or monthly) or triggered manually by the participating utility.</p>
        <p class="lead">Once the PQ data is uploaded to EPRI it would be used right away as part of a larger collection of data from which to establish the US benchmark for PQ. This benchmark data would be available to participating utilities through a secure EPRI web site. Through this web sites, participating utilities could compare the PQ performance of their company to that of the collective benchmark. Of course, only the owning company would have their data identified. </p>
        <p class="lead">This web site provided here is a rough prototype that showcases the kind of charts and data that could be displayed dynamically from the PQ Mark data repository.  All four example charts are created dynamically from underlying benchmark data that is created from raw event and trending data stored in openXDA.</p>
    </div>

</div>
