@{
    ViewBag.Title = "Home";
}
<div style="">
    <div style="width: 100%; text-align: center; margin-top: 5%; margin-bottom: 5%">
        <img class="" style="" src="@Url.Content("~/Images/PQMark2wPOC600.png")" />
    </div>

    <div style="margin-bottom: 10%; margin-left: 5%; margin-right: 5%">
        <p class="">PQ Mark represents a new way for EPRI to create benchmarks of power quality. Rather than the current manual batch process where data is collected about every 5 years, the vision of PQ Mark is to automate EPRI’s benchmarking process by installing software agents at participating utilities which would transfer PQ data from time-to-time to EPRI from several utility designated locations. These data transfers could be periodic and automatic (such as daily, weekly or monthly) or triggered manually by the participating utility.</p>
        <p class="">Once the PQ data is uploaded to EPRI it would be used right away as part of a larger collection of data from which to establish a national benchmark for PQ. This benchmark data would be available to participating utilities through a secure EPRI web site. Through this web site, participating utilities could compare the PQ performance of their utility to that of the collective benchmark. Of course, only the owning utility would have their data identified.</p>
        <p class="">This web site provided here is a rough proof of concept that showcases the kind of charts and data that could be displayed dynamically from the PQ Mark data repository. All four example charts are created dynamically from underlying benchmark data that is created from raw event and trending data stored in openXDA.</p>
        <p class="">Moving forward, the proposed development schedule includes beta testing for funding utilities in 2018. The production release of the complete proposed PQ Mark <a href="#" data-toggle="modal" data-target="#modal">architecture</a> is scheduled for the 1st quarter of 2019.
        </p>
    </div>

</div>
